/* https://stackoverflow.com/questions/2182716/is-it-possible-to-set-the-equivalent-of-a-src-attribute-of-an-img-tag-in-css */
@media screen and (min-width: 220px) and (max-width: 450px) {
    img {
        content:url(images/kitten-small.png);	
    }
	.chicken {
	visibility: visible;
        content: url(images/cat.jpeg);
		width:  50vw;
		height: 50vh;
}

}
	@media screen and (min-width: 451px) and (max-width: 650px) {

img {
	content:url(images/kitten-medium.png);
}
		.chicken {
	visibility: hidden; 
}

	}
@media screen and (min-width: 651px) and (max-width: 2000px) {
img {
	content:url(images/kitten-large.png);
}
.chicken {
	visibility: hidden; 
}
	
