/* https://stackoverflow.com/questions/2182716/is-it-possible-to-set-the-equivalent-of-a-src-attribute-of-an-img-tag-in-css */
body {
background-image:url(https://user-images.githubusercontent.com/28358635/30505350-f958859a-9a28-11e7-9be5-576c17191245.gif);
}
@media screen and (min-width: 290px) and (max-width: 500px) {
    img {
        content:url(images/kitten-small.png);	
    }
	.chicken {
	visibility: visible;
        content: url(images/cat.jpeg);
		width:  100px;
		height: 100px;
}

}
	@media screen and (min-width: 501px) and (max-width: 750px) {

img {
	content:url(images/kitten-medium.png);
}
		.chicken {
	visibility: hidden; 
}

	}
@media screen and (min-width: 751px) and (max-width: 2000px) {
img {
	content:url(images/kitten-large.png);
}
.chicken {
	visibility: hidden; 
}
	
